/* TransactionHistory Styles */
.transaction-history {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
  order: 2;
}
.transaction {
  order: 2;
}

.transaction-history h2 {
  color: #333;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Dark Mode Styles */
body.dark-mode .transaction-history {
  background-color: #444;
  color: #fff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .transaction-history h2 {
  color: #fff;
}
